In [7]:
# selenium
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# Beautiful soup
from bs4 import BeautifulSoup
import requests

# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

In [8]:
# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

# Q1:-1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_video

In [9]:
#lets first connect the driver
driver=webdriver.Chrome(r"C:\Users\Rohith Challamalla\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\AKASH JAISWAL\AppData\Local\Temp\ipykernel_248708\1554673951.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\AKASH JAISWAL\Downloads\chromedriver_win32\chromedriver.exe")

In [10]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [11]:
Rank=[]
Video_Name=[]
Artist=[]
Views=[]
Date=[]

In [12]:
# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [13]:
len(Rank)

30

In [14]:
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Video_Name.append(i.text)
except NoSuchElementException:
    Video_Name.append("-")

In [15]:
Video_Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Uptown Funk"[24]',
 '"Wheels on the Bus"[25]',
 '"Learning Colors – Colorful Eggs on a Farm"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Roar"[35]',
 '"Counting Stars"[36]',
 '"Axel F"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Dark Horse"[41]',
 '"Waka Waka (This Time for Africa)"[42]',
 '"Faded"[43]',
 '"Let Her Go"[44]',
 '"Girls Like You"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Lakdi Ki Kathi"[50]']

In [16]:
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [17]:
len(Artist)

30

In [18]:
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [19]:
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [20]:
len(Views)

30

In [21]:
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Video_Name'] = Video_Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

In [22]:
Wiki

,Rank,Video_Name,Artist,Upload Date,Views (in Billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:

A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [58]:
# selenium
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# Beautiful soup
from bs4 import BeautifulSoup
import requests

# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

In [59]:
# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

In [60]:
#lets first connect the driver
driver=webdriver.Chrome(r"C:\Users\AKASH JAISWAL\Downloads\chromedriver_win32\chromedriver.exe")

In [61]:
#getting the specified url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

In [63]:
driver.find_element(By.XPATH,'//li[@class="nav-item"]').click()
time.sleep(3)

In [71]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[1]').click()
time.sleep(2)

In [73]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[2]/div[1]')
search.click()

In [74]:
match = []
series = []
place = []
date = []
time = []

In [75]:
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        match.append(i.text)
except NoSuchElementException:
    match.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        series.append(i.text.split('-')[0])
except NoSuchElementException:
    series.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        place.append(i.text)
except NoSuchElementException:
    place.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        time.append(i.text)
except NoSuchElementException:
    time.append("-")

In [76]:
df = pd.DataFrame({'Match Title':match,'Series':series,'Venue':place,'Date':date,'time':time})
df

,Match Title,Series,Venue,Date,time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,3rd T20I,"Steyn City School Ground,",2 JAN 2023,5:15 PM IST
1,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I,"Steyn City School Ground,",3 JAN 2023,1:30 PM IST
2,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
3,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"Eden Gardens,",12 JAN 2023,1:30 PM IST

# Q3:-Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through cod

In [68]:
#lets first connect the driver
driver=webdriver.Chrome(r"C:\Users\Rohith Challamalla\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\AKASH JAISWAL\AppData\Local\Temp\ipykernel_248708\1554673951.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\AKASH JAISWAL\Downloads\chromedriver_win32\chromedriver.exe")

In [69]:
# getting the webpage of mentioned url
url = ("https://statisticstimes.com/")
driver.get(url)

In [70]:
# clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [71]:
# clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(2)

In [72]:
# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/ul/li[1]/a").click()
time.sleep(2)

In [73]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [74]:
# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [75]:
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Agriculture Sector,4.52,-,-,-
1,1.1,"Agriculture,forestry & fishing",4.52,-,-,-
2,2,Industry Sector,46.15,-,-,-
3,2.1,Mining & quarrying,18.58,-,-,-
4,2.2,Manufacturing,49.63,-,-,-
5,2.3,"Electricity, gas, water supply & other utility...",14.26,-,-,-
6,2.4,Construction,68.33,-,-,-
7,3,Services Sector,11.42,-,-,-
8,3.1,"Trade, hotels, transport, communication and se...",34.32,-,-,-
9,3.2,"Financial, real estate & prof servs",3.69,-,-,-
10,3.3,"Public Administration, defence and other services",5.81,-,-,-

# Q-4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [76]:
# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)

In [80]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/button").click()

In [81]:
# selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [82]:
# creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [83]:
# fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))
    
# scraping Repository title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)
    
# scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    # scraping Repository Description data 
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    
    
    # scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [84]:
#creating dataframe
Github_df=pd.DataFrame({})
Github_df['Repository title'] = repository_title
Github_df['Repository description'] = Description
Github_df['Contributors count'] = Contributors
Github_df['Language used'] = Language
Github_df

,Repository title,Repository description,Contributors count,Language used
0,LAION-AI / Open-Assistant,-,21,"[, open-assistant/oasst-backend, , open-assist..."
1,apple / ml-stable-diffusion,-,11,"[, open-assistant/oasst-backend, , open-assist..."
2,hehonghui / awesome-english-ebooks,-,-,"[, open-assistant/oasst-backend, , open-assist..."
3,AmruthPillai / Reactive-Resume,-,84,"[, open-assistant/oasst-backend, , open-assist..."
4,microfeed / microfeed,-,-,"[, open-assistant/oasst-backend, , open-assist..."
5,excalidraw / excalidraw,-,211,"[, open-assistant/oasst-backend, , open-assist..."
6,TheOfficialFloW / HENlo,-,-,"[, open-assistant/oasst-backend, , open-assist..."
7,tesseract-ocr / tesseract,-,158,"[, open-assistant/oasst-backend, , open-assist..."
8,zhuowei / WDBFontOverwrite,-,-,"[, open-assistant/oasst-backend, , open-assist..."
9,novuhq / novu,-,232,"[, open-assistant/oasst-backend, , open-assist..."
10,timqian / chinese-independent-blogs,-,851,"[, open-assistant/oasst-backend, , open-assist..."
11,gabiduarte / awesome-techleads,-,17,"[, open-assistant/oasst-backend, , open-assist..."
12,microsoft / RoadDetections,-,4,"[, open-assistant/oasst-backend, , open-assist..."
13,lencx / ChatGPT,-,7,"[, open-assistant/oasst-backend, , open-assist..."
14,facebook / folly,-,695,"[, open-assistant/oasst-backend, , open-assist..."
15,mouredev / retos-programacion-2023,-,-,"[, open-assistant/oasst-backend, , open-assist..."
16,AmazingAng / WTF-Solidity,-,73,"[, open-assistant/oasst-backend, , open-assist..."
17,zas023 / JdBuyer,-,-,"[, open-assistant/oasst-backend, , open-assist..."
18,ChatGPT-Hackers / ChatGPT-API-server,-,5,"[, open-assistant/oasst-backend, , open-assist..."
19,bregman-arie / devops-resources,-,19,"[, open-assistant/oasst-backend, , open-assist..."
20,zinclabs / zinc,-,34,"[, open-assistant/oasst-backend, , open-assist..."
21,google / comprehensive-rust,-,23,"[, open-assistant/oasst-backend, , open-assist..."
22,521xueweihan / HelloGitHub,-,11,"[, open-assistant/oasst-backend, , open-assist..."
23,openai-php / laravel,-,4,"[, open-assistant/oasst-backend, , open-assist..."
24,malkemit / namizun,-,4,"[, open-assistant/oasst-backend, , open-assist..."

# 5. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [33]:
#lets first connect the driver
driver=webdriver.Chrome(r"C:\Users\AKASH JAISWAL\Downloads\chromedriver_win32\chromedriver.exe")

In [34]:
#getting the specified url
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(3)

In [35]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [37]:
view = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
view.click()

In [38]:
song = []
artist = []
last = []
peak = []
weeks = []

In [39]:
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[1]/h3'):
    song.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[1]/span'):
    artist.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[4]/span'):
    last.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[5]/span'):
    peak.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[6]/span'):
    weeks.append(i.text)

In [40]:
print(len(artist),len(song),len(last),len(peak),len(weeks))

100 100 200 200 100

In [41]:
billboard = pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':last[:100],'Peak Rank':peak[:100],'Weeks on Board':weeks})
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,,,51
2,Jingle Bell Rock,Bobby Helms,2,2,48
3,A Holly Jolly Christmas,Burl Ives,,,31
4,Last Christmas,Wham!,4,3,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,,,5
96,One Thing At A Time,Morgan Wallen,-,37,3
97,Hold Me Closer,Elton John & Britney Spears,,,17
98,Far,SZA,53,12,2
99,All Mine,Brent Faiyaz,,,20

# 6. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [7]:
import pandas as pd
import selenium

import time
from selenium import webdriver
import requests
import re
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [8]:
#lets first connect the driver
driver=webdriver.Chrome(r"C:\Users\Rohith Challamalla\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\AKASH JAISWAL\AppData\Local\Temp\ipykernel_212460\1554673951.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\AKASH JAISWAL\Downloads\chromedriver_win32\chromedriver.exe")

In [9]:
# Getting the webpage of mentioned url 
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.get(url)

In [10]:
#Creating empty list
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [11]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [12]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [13]:
# getting the webpage of mentioned url
url = ("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [14]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [18]:
# scraped data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
    
# scraped data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
    
# scraped data of Genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
    
# scraped data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
    
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
    
# scraped data of Votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [19]:
# creating dataframe for scraped data
TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Genre'] = Genre
TV_Series['Run Time'] = Run_time
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,098,621"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,188,737"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"993,396"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"293,977"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,124"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,343"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,903"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,720"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,693"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"246,696"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [16]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [17]:
#lets first connect the driver
driver=webdriver.Chrome(r"C:\Users\Rohith Challamalla\Downloads\chromedriver_win32\chromedriver.exe")

In [18]:
url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)

In [19]:
viewdataset = driver.find_element(By.XPATH,'//tbody/tr/td[2]/span[2]/a')
page_url = viewdataset.get_attribute('href')
driver.get(page_url)
time.sleep(5)

all_lst = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

data_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [20]:
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [23]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    

    try: 
        ds_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    
    try:
        dtype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    
    try:
        atype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    

    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
     
    try:
        inst = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    
    try:
        attr = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

KeyboardInterrupt:

In [25]:
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes

UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16
5,A study of Asian Religious and Biblical Texts ...,"Multivariate, Text","Classification, Clustering",Integer,590,8265
6,AAAI 2013 Accepted Papers Data Set,Multivariate,Clustering,-,150,5
7,AAAI 2014 Accepted Papers Data Set,Multivariate,Clustering,-,399,6
8,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8
9,Abscisic Acid Signaling Network Data Set,Multivariate,Causal-Discovery,Integer,300,43
10,Absenteeism at work Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",740,21
11,Accelerometer Data Set,Multivariate,"Classification, Regression","Integer, Real",153000,5
12,Activities of Daily Living (ADLs) Recognition ...,"Multivariate, Sequential, Time-Series","Classification, Clustering",-,2747,-
13,Activity Recognition from Single Chest-Mounted...,"Univariate, Sequential, Time-Series","Classification, Clustering",Real,-,-
14,Activity Recognition system based on Multisens...,"Multivariate, Sequential, Time-Series",Classification,Real,42240,6
15,Activity recognition using wearable physiologi...,Multivariate,Classification,Real,4480,533
16,Activity recognition with healthy older people...,Sequential,Classification,Real,75128,9
17,Acute Inflammations Data Set,Multivariate,Classification,"Categorical, Integer",120,6
18,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14
19,AI4I 2020 Predictive Maintenance Dataset Data Set,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14
20,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5
21,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4
22,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8
23,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4
24,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16
25,A study of Asian Religious and Biblical Texts ...,"Multivariate, Text","Classification, Clustering",Integer,590,8265
26,AAAI 2013 Accepted Papers Data Set,Multivariate,Clustering,-,150,5
27,AAAI 2014 Accepted Papers Data Set,Multivariate,Clustering,-,399,6
28,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8
29,Abscisic Acid Signaling Network Data Set,Multivariate,Causal-Discovery,Integer,300,43
30,Absenteeism at work Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",740,21
31,Accelerometer Data Set,Multivariate,"Classification, Regression","Integer, Real",153000,5
32,Activities of Daily Living (ADLs) Recognition ...,"Multivariate, Sequential, Time-Series","Classification, Clustering",-,2747,-
33,Activity Recognition from Single Chest-Mounted...,"Univariate, Sequential, Time-Series","Classification, Clustering",Real,-,-
34,Activity Recognition system based on Multisens...,"Multivariate, Sequential, Time-Series",Classification,Real,42240,6
35,Activity recognition using wearable physiologi...,Multivariate,Classification,Real,4480,533
36,Activity recognition with healthy older people...,Sequential,Classification,Real,75128,9
37,Acute Inflammations Data Set,Multivariate,Classification,"Categorical, Integer",120,6
38,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14
39,AI4I 2020 Predictive Maintenance Dataset Data Set,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14
40,Air Quality Data Set,"Multivariate, Time-Series",Regression,Real,9358,15
41,Air Quality Data Set,"Multivariate, Time-Series",Regression,Real,9358,15
42,Airfoil Self-Noise Data Set,Multivariate,Regression,Real,1503,6
43,Alcohol QCM Sensor Dataset Data Set,Multivariate,"Classification, Regression, Clustering",Real,125,8
44,Algerian Forest Fires Dataset Data Set,Multivariate,"Classification, Regression",Real,244,12
45,Amazon Access Samples Data Set,"Time-Series, Domain-Theory","Regression, Clustering, Causal-Discovery",-,30000,20000
46,Amazon Commerce reviews set Data Set,"Multivariate, Text, Domain-Theory",Classification,Real,1500,10000
47,Amphibians Data Set,Multivariate,Classification,"Integer, Real",189,23
48,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38
49,Anonymous Microsoft Web Data Data Set,-,Recommender-Systems,Categorical,37711,294
50,Anticancer peptides Data Set,Sequential,Classification,-,1850,2
51,Anuran Calls (MFCCs) Data Set,Multivariate,"Classification, Clustering",Real,7195,22
52,Apartment for rent classified Data Set,Multivariate,"Classification, Regression, Clustering",-,10000,22
53,Appliances energy prediction Data Set,"Multivariate, Time-Series",Regression,Real,19735,29
54,APS Failure at Scania Trucks Data Set,Multivariate,Classification,"Integer, Real",60000,171
55,Arcene Data Set,Multivariate,Classification,Real,900,10000
56,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279